body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Varela Round', sans-serif;
}
/* STYLE NAV BAR */
ol {
  list-style-type: none;
  background-color: #A4C3B2;
  overflow: hidden;
  padding: 1em;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

li {
display: inline;
}

li a {
  text-decoration: none;
color: black;
font-size: 1.3em;
padding: 1em;
}

li a:hover {
  background-color: #6B9080
}